@import "./constants.scss";
.second-screan {
  background: url("./../assets/second-screan-bg.png") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 83px 36px 28px;
  // .second-screan__info
  &__info {
    text-align: center;
    font-weight: 400;
    line-height: 1.27;
    font-size: calc($fontSize + 3px);
    color: #fff;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 23px;
      height: 23px;
    }
    &::before {
      top: -33px;
      left: -15px;
      background: url("./../assets/decoration-1.svg");
    }
    &::after {
      background: url("./../assets/decoration-2.svg");
      bottom: -23px;
      right: -15px;
    }
  }
}
